<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Car ShowRoom</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>

<div class="main_o clearfix position-relative">
 <div class="main_1 clearfix position-absolute top-0 w-100">
   <section id="header">
    <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
		<div class="container-xl">
		  <a class="navbar-brand fs-3 p-0 fw-bold text-white" href="/"><i class="fa fa-car col_oran me-1 fs-2 align-middle"></i>Car Showroom</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mb-0 ">
			<li class="nav-item">
			<a class="nav-link" aria-current="page" href="/">Home</a>
			</li>
			>
			<li class="nav-item">
			<a class="nav-link" href="/vehicle/?company=all">Vehicle</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/contact/">Contact</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about/">About </a>
			  </li>
			</ul>
			<ul class="navbar-nav mb-0 ms-auto">
			  <li class="nav-item">
				<a class="nav-link button_2 ms-2 me-2" href="/seller/login/">Seller <i class="fa fa-check-circle ms-1"></i></a>
			  </li>
			  
			</ul>
			
		  </ul>
		</div>
	  </nav>
</section>
 </div>
 <div class="main_2 clearfix">
 <section id="center" class="center_about">
   <div class="center_om clearfix">
     <div class="container-xl">
  <div class="row center_o1">
   <div class="col-md-12">
      <h2 class="text-white">About</h2>
	  <h6 class="mb-0 mt-3 fw-normal col_oran"><a class="text-light" href="#">Home</a> <span class="mx-2 col_light">/</span> About</h6>
   </div>
  </div>
 </div>
   </div>
 </section>
 </div>
 
</div>

<section id="about_pg" class="p_3" style="background-image:url('https://images.unsplash.com/photo-1495435229349-e86db7bfa013?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1377&q=80'); background-repeat:no-repeat; background-size:100%";>
 <div class="container-xl">
  <div class="about_pg1 row">
    <div class="col-md-6">
	 <div class="about_pgl clearfix">
	   <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"></a>
				  </figure>
			  </div>
	 </div>
	</div>
	<div class="col-md-6">
	 <div class="about_pgr clearfix">
	  <h4 class="col_oran">ABOUT US</h4>
	  <h2 class="col_oran">Dealing With Us is <br> Always Echonomical, Easy And Fast</h2>
	  <p class="mt-3">At our showroom, we take pride in offering an exceptional car buying experience for our customers. Our team of knowledgeable and friendly sales representatives is here to guide you through the process of finding the perfect car to fit your needs and budget.
	</p>
	   <p><i class="fa fa-check-circle col_oran me-1"></i>Wide range of high-quality vehicles, both new and used, to fit any need and budget. </p>
	   <p><i class="fa fa-check-circle col_oran me-1"></i>Knowledgeable and friendly sales representatives who provide competitive pricing and financing options. </p>
	   <p><i class="fa fa-check-circle col_oran me-1"></i>State-of-the-art service center staffed by expert technicians. </p>
	   <h6 class="mb-0"><a class="button" href="#">Discover More <i class="fa fa-check-circle ms-1"></i> </a></h6>
	 </div>
	</div>
   </div>
 </div>	
</section>

<section id="work" class="p_3 bg_light">
  <div class="container-xl">
   <div class="row trip_1 text-center mb-4">
   <div class="col-md-12">
	<h5 class="col_oran">Why Choose Us</h5>
	 <h1>Best deals you <br> will ever find</h1>
	 <p class="mt-3">With our commitment to customer satisfaction and a vast network of trusted dealerships, we offer unbeatable value and peace of mind with every purchase.</p>
	 
	</div>
   </div>
 

<section id="team" class="p_3">
  <div class="container-xl">
   <div class="row trip_1 text-center mb-4">
   <div class="col-md-12">
    <h5 class="col_oran">Our  Team</h5>
	<h1>Chief Executives</h1>
	<p class="mb-0">To contribute to positive change and achieve our sustainability <br>  goals with many extraordinary</p>
   </div>
  </div>
   <div class="row team_1">
   <div class="col-md-4 col-sm-8">
    <div class="team_1i text-center">
	  <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="{% static 'img/user1.jpeg' %}" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
	  <div class="team_1i1 bg_light p-3">
	  <h4>Chand Qadri</h4>
	  <h5 class="col_oran fw-normal">Admin</h5>
	  
	  </div>
	</div>
   </div>

   <div class="col-md-4 col-sm-8">
    <div class="team_1i text-center">
	  <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="{% static 'img/user2.jpeg' %}" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
	  <div class="team_1i1 bg_light p-3">
	  <h4>Muhammad Anas</h4>
	  <h5 class="col_oran fw-normal">Admin</h5>
	 
	  </div>
	</div>
   </div>

   <div class="col-md-4 col-sm-8">
    <div class="team_1i text-center">
	  <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="{% static 'img/user3.jpeg' %}" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
	  <div class="team_1i1 bg_light p-3">
	  <h4>Haris Nadeem</h4>
	  <h5 class="col_oran fw-normal">Admin</h5>
	  
	  </div>
	</div>
   </div>

  </div>
 </div>
</section>

<section id="footer" class="pt-3 pb-3">
	<div class="container-xl">
		<div class="row footer_1">
		  <div class="col-md-4">
		   <div class="footer_1i">
			<h4><i class="fa fa-car col_oran "></i> CAR  <span class="fw-normal"></span>Showroom</a></h4>
			<p class="mt-3">Visit our showroom today and discover the latest models from top car brands, all under one roof. Contact us to schedule a test drive and experience the thrill of driving your dream car.</p>
			<h6 class="mt-3 fw-normal"><i class="fa fa-map col_oran me-1"></i> DHA,  Phase 5, Lahore</h6>
			<h6 class="mt-3 fw-normal"><a href="#"><i class="fa fa-phone col_oran me-1"></i> (042) 3599-5331</a></h6>
			<h6 class="mt-3 mb-0 fw-normal"><a href="#"><i class="fa fa-envelope col_oran me-1"></i> carshowroom.info@gmail.com</a></h6>
		   </div>
		  </div>
		  <div class="col-md-3">
		   <div class="footer_1i">
			<h4>WORK HOURS</h4>
			<p class="mt-3">Mon - Fri: <span class="fw-bold text-black">09:00AM - 09:00PM</span></p>
			<p class="mt-3">Sat: <span class="fw-bold text-black">09:00AM - 06:00PM</span></p>
			<p class="mt-3 mb-0">Sun: <span class="fw-bold text-black">Closed</span></p>
		   </div>
		  </div>
		<div class="col-md-3">
		 <div class="footer_1i">
		  <h4>SUBSCRIPTION</h4>
		  <p class="mt-3">Subscribe your Email address for latest news & updates.</p>
		  <form action="sub/" method="post">
			{% csrf_token %}
			<input class="form-control" name="email" placeholder="Enter Email Address" type="text">
		  <h6 class="mb-0 mt-4"><button type="submit" class="button pt-3 pb-3">Submit <i class="fa fa-check-circle ms-1"></i> </button></h6>
		  </form>
		 </div>
		</div>
	  </div><hr>
	  <div class="row footer_2">
	   <div class="col-md-8">
		<div class="footer_2l">
		 <p class="mb-0 mt-1">© 2023 Car Showroom. All Rights Reserved.</a></p>
		</div>
	   </div>
	   <div class="col-md-4">
		<div class="footer_2r text-end">
		  <ul class="social-network social-circle mb-0">
						<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
						<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
		</div>
	   </div>
	  </div>
	</div>
	</section>

<script>
window.onscroll = function() {myFunction()};

var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;

function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>