<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Car ShowRoom</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>

<div class="main_o clearfix position-relative">
 <div class="main_1 clearfix position-absolute top-0 w-100">
   <section id="header">
<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
  <div class="container-xl">
    <a class="navbar-brand fs-3 p-0 fw-bold text-white" href="/"><i class="fa fa-car col_oran me-1 fs-2 align-middle"></i>Car Showroom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mb-0 ">
		  <li class="nav-item">
			<a class="nav-link" aria-current="page" href="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/vehicle/?company=all">Vehicle</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/contact/">Contact</a>
		  </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About </a>
        </li>
		</ul>
		<ul class="navbar-nav mb-0 ms-auto">
		  <li class="nav-item">
			<a class="nav-link button_2 ms-2 me-2" href="/seller/login/">Seller <i class="fa fa-check-circle ms-1"></i></a>
		  </li>
		  
		</ul>
  </div>
</nav>
</section>
 </div>
 <div class="main_2 clearfix">
 <section id="center" class="center_o">
   <div class="center_om clearfix">
     <div class="container-xl">
  <div class="row center_o1">
   <div class="col-md-12">
      <h2 class="text-white">Vehicle Models</h2>
	  <h6 class="mb-0 mt-3 fw-normal col_oran"><a class="text-light" href="/">Home</a> <span class="mx-2 col_light">/</span> Vehicle Models</h6>
   </div>
  </div>
 </div>
   </div>
 </section>
 </div>
 
</div>

<section id="model_pg" class="p_3">
<div class="container">
<h1 class="mt-3">{{car.car_name}}</h1><hr>
    <div class="row mt-5">
        <div class="col-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
            <div class="carousel-inner">
                {% for i in images %}
                {% if forloop.counter == 1 %}
                <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <img src="{% static i.image %}" class="d-block w-100" alt="...">
                  </div>{% endfor %}
              

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3><b>{{car.company}} - {{car.car_name}}</b></h3>
        <h4><i>Price:</i> Rs.{{car.car_price}}/-</h4>
        <h4>Description</h4>
        <h6>{{car.description}}
        </h6>
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <a class="nav-link button_2 ms-2 me-2" href="/buy/?id={{car.car_id}}">Buy Now <i class="fa fa-check-circle ms-1"></i></a>
            </div>
        </div>
      </div>
  </div>
</div>
</section>


<section id="footer" class="pt-3 pb-3">
  <div class="container-xl">
		<div class="row footer_1">
		  <div class="col-md-4">
		   <div class="footer_1i">
			<h4><i class="fa fa-car col_oran "></i> CAR  <span class="fw-normal"></span>Showroom</a></h4>
			<p class="mt-3">Visit our showroom today and discover the latest models from top car brands, all under one roof. Contact us to schedule a test drive and experience the thrill of driving your dream car.</p>
			<h6 class="mt-3 fw-normal"><i class="fa fa-map col_oran me-1"></i> DHA,  Phase 5, Lahore</h6>
			<h6 class="mt-3 fw-normal"><a href="#"><i class="fa fa-phone col_oran me-1"></i> (042) 3599-5331</a></h6>
			<h6 class="mt-3 mb-0 fw-normal"><a href="#"><i class="fa fa-envelope col_oran me-1"></i> carshowroom.info@gmail.com</a></h6>
		   </div>
		  </div>
		  <div class="col-md-3">
		   <div class="footer_1i">
			<h4>WORK HOURS</h4>
			<p class="mt-3">Mon - Fri: <span class="fw-bold text-black">09:00AM - 09:00PM</span></p>
			<p class="mt-3">Sat: <span class="fw-bold text-black">09:00AM - 06:00PM</span></p>
			<p class="mt-3 mb-0">Sun: <span class="fw-bold text-black">Closed</span></p>
		   </div>
		  </div>
        <div class="col-md-3">
         <div class="footer_1i">
          <h4>SUBSCRIPTION</h4>
          <p class="mt-3">Subscribe your Email address for latest news & updates.</p>
          <form action="sub/" method="post">
            {% csrf_token %}
            <input class="form-control" name="email" placeholder="Enter Email Address" type="text">
          <h6 class="mb-0 mt-4"><button type="submit" class="button pt-3 pb-3">Submit <i class="fa fa-check-circle ms-1"></i> </button></h6>
          </form>
         </div>
        </div>
      </div><hr>
      <div class="row footer_2">
       <div class="col-md-8">
        <div class="footer_2l">
         <p class="mb-0 mt-1">© 2023 Car Showroom. All Rights Reserved.</a></p>
        </div>
       </div>
       <div class="col-md-4">
        <div class="footer_2r text-end">
          <ul class="social-network social-circle mb-0">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
        </div>
       </div>
      </div>
    </div>
    </section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>
window.onscroll = function() {myFunction()};

var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;

function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>