<!DOCTYPE html>
<html lang="en">
<head>{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Car ShowRoom</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="main clearfix position-relative">
 <div class="main_1 clearfix position-absolute top-0 w-100">
   <section id="header">
<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
  <div class="container-xl">
    <a class="navbar-brand fs-3 p-0 fw-bold text-white" href="/"><i class="fa fa-car col_oran me-1 fs-2 align-middle"></i>Car Showroom</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/vehicle/?company=all">Vehicle</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
		<li class="nav-item">
			<a class="nav-link" href="/about/">About </a>
		  </li>
      </ul>
	  <ul class="navbar-nav mb-0 ms-auto">
		<li class="nav-item">
          <a class="nav-link button_2 ms-2 me-2" href="/seller/login/">Seller <i class="fa fa-check-circle ms-1"></i></a>
        </li>
		
      </ul>
    </div>
  </div>
</nav>
</section>
 </div>
 <div class="main_2 clearfix">
   <section id="center" class="center_home">
 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    {% for i in cars_header %}
	{% if forloop.counter == 1 %}
	<div class="carousel-item active">
		{% else %}
		<div class="carousel-item">
	{% endif %}
		<img src="{% static i.1.image %}" class="d-block w-100" alt="...">
		<div class="carousel-caption d-md-block">
		 <h5>Buy a car right away</h5>
		 <h1 class="font_50 mt-4">Millions of <span class="col_oran">SELLERS</span> available <br> at one click only!</h1>	
		 <p class="mt-4 mb-4">Discover the perfect ride for you with our extensive selection of top-quality cars and expert services</p>
		 <h6 class="d-inline-block me-2 mb-0"><a class="button" href="#">Buy Car <i class="fa fa-check-circle ms-1"></i> </a></h6>
		
		</div>
	  </div>
	{% endfor %}
    </div>
  </div>
</div>
</section>
 </div>
 <div class="main_3 position-absolute w-100 clearfix">
   <section id="booking">
<div class="container-xl">
 <div class="booking_m clearfix bg-white">
   <div class="row booking_1">
  <div class="col-md-12">
   <h4 class="mb-0">Search a Car</h4>
  </div>
 </div>
 <form action="vehicle/" method="get">
 <div class="row booking_2 mt-4">
  <div class="col-md-8 col-sm-8">
   <div class="booking_2i">
    <h6 class="mb-3"><i class="fa fa-car me-1 col_oran"></i> Car Company</h6>
	<select class="form-select" name="company" id="example-select">
        <option>Select your car type</option>
		<option value="all">All</option>
        {% for i in companies %}
		<option value="{{i.company}}">{{i.company}}</option>
		{% endfor %}
    </select>
   </div>
  </div>
  
  <div class="col-md-4 col-sm-4">
	<div class="booking_2i">
		 <h6 class="mb-3"><i class="fa fa-search me-1 col_oran"></i> Find</h6>
	 <h6 class="text-center mb-0"><button type="submit" class="button pt-3 pb-3 d-block">Search</button></h6>
	</div>
   </div>
 </div>
 <div class="row booking_2 mt-4">
</form>
  
 </div>
 </div>
</div>
</section>
 </div>
</div>

<section id="trip" class="p_3">

</section>

<section id="choose" class="p_3">
<div class="container-xl">
  <div class="row choose_1">
   <div class="col-md-7">
    <div class="choose_1l">
	 <h5 class="col_oran">Why Choose Us</h5>
	 <h1>Best deals you <br> will ever find</h1>
	 <p class="mt-3">With our commitment to customer satisfaction and a vast network of trusted dealerships, we offer unbeatable value and peace of mind with every purchase.</p>
	 <h6 class="mb-0 mt-4"><a class="button" href="vehicle/?company=all">Find  Deals <i class="fa fa-check-circle ms-1"></i> </a></h6>
	</div>
   </div>
   <div class="col-md-5">
    <div class="choose_1r">
	 <div class="choose_1ri row">
	  <div class="col-md-3">
	   <div class="choose_1ril">
	    <span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-car"></i></span>
	   </div>
	  </div>
	  <div class="col-md-9">
	   <div class="choose_1rir">
	    <h4>Unmatched selection</h4>
		<p class="mb-0 mt-3">Our showroom offers a vast selection of top-quality cars from leading brands, ensuring you can find the perfect ride to suit your needs and budget.</p>
	   </div>
	  </div>
	 </div><hr>
	 <div class="choose_1ri row mt-3">
	  <div class="col-md-3">
	   <div class="choose_1ril">
	    <span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-dollar"></i></span>
	   </div>
	  </div>
	  <div class="col-md-9">
	   <div class="choose_1rir">
	    <h4>All Inclusive Pricing</h4>
		<p class="mb-0 mt-3">We offer competitive pricing and flexible financing options to make your dream car more affordable than ever, ensuring you get the best value for your money.</p>
	   </div>
	  </div>
	 </div><hr>
	 <div class="choose_1ri row mt-3">
	  <div class="col-md-3">
	   <div class="choose_1ril">
	    <span class="fs-1 d-inline-block text-center col_oran"><i class="fa fa-heart-o"></i></span>
	   </div>
	  </div>
	  <div class="col-md-9">
	   <div class="choose_1rir">
	    <h4>Exceptional customer service</h4>
		<p class="mb-0 mt-3">Our experienced and knowledgeable team is dedicated to providing you with personalized service and expert guidance throughout the car buying process.</p>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
  
</div>
</section>

<section id="testim" class="p_3 bg_light">
<div class="container-xl">
 <div class="row trip_1 text-center mb-4">
   <div class="col-md-12">
    <h5 class="col_oran">Reviewed by People</h5>
	<h1>Clients' Testimonials</h1>
	<p class="mb-0">To contribute to positive change and achieve our sustainability <br>  goals with many extraordinary</p>
   </div>
  </div>  
  <div class="row testim_1">
		  <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="testim_1i row">
	     <div class="col-md-6">
		  <div class="testim_1i1 text-center p-4 pt-5 pb-5 bg-white rounded">
		    <img src="{% static 'img/client1.jpg' %}" alt="abc" height="100" width="100" class="rounded-circle">
			<h4 class="mt-3">Sonam Bajwa</h4>
			<h6 class="fw-normal col_light">Actress</h6>
			<span class="font_50"><i class="fa fa-quote-left"></i></span>
			<p>I recently purchased a car from this showroom and I couldn't be happier with my experience. The team was incredibly helpful and attentive, walking me through every step of the process and ensuring I got the best deal possible. I highly recommend this showroom to anyone in the market for a new car!</p>
             <span class="col_oran">
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star-half-o"></i>
			 </span>
		  </div>
		 </div>
		 <div class="col-md-6">
		  <div class="testim_1i1 text-center p-4 pt-5 pb-5 bg-white rounded">
		    <img src="{% static 'img/client2.jpg' %}" alt="abc"  height="100" width="100"  class="rounded-circle">
			<h4 class="mt-3">Bill Gates</h4>
			<h6 class="fw-normal col_light">Founder, Microsoft Inc.</h6>
			<span class="font_50"><i class="fa fa-quote-left"></i></span>
			<p>I had been searching for my dream car for months, but couldn't find exactly what I was looking for until I stumbled upon this showroom. The selection was unbeatable and the staff went above and beyond to help me find the perfect ride. I am so grateful for their assistance and very heartly suggestions.</p>
             <span class="col_oran">
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star"></i>
			  <i class="fa fa-star-half-o"></i>
			 </span>
		  </div>
		 </div>
	  </div>
    </div>
   
</div>
</section>


<section id="footer" class="pt-3 pb-3">
<div class="container-xl">
  <div class="row footer_1">
    <div class="col-md-4">
	 <div class="footer_1i">
	  <h4><i class="fa fa-car col_oran "></i> CAR  <span class="fw-normal"></span>Showroom</a></h4>
	  <p class="mt-3">Visit our showroom today and discover the latest models from top car brands, all under one roof. Contact us to schedule a test drive and experience the thrill of driving your dream car.</p>
	  <h6 class="mt-3 fw-normal"><i class="fa fa-map col_oran me-1"></i> DHA,  Phase 5, Lahore</h6>
	  <h6 class="mt-3 fw-normal"><a href="#"><i class="fa fa-phone col_oran me-1"></i> (042) 3599-5331</a></h6>
	  <h6 class="mt-3 mb-0 fw-normal"><a href="#"><i class="fa fa-envelope col_oran me-1"></i> carshowroom.info@gmail.com</a></h6>
	 </div>
	</div>
	<div class="col-md-3">
	 <div class="footer_1i">
	  <h4>WORK HOURS</h4>
      <p class="mt-3">Mon - Fri: <span class="fw-bold text-black">09:00AM - 09:00PM</span></p>
	  <p class="mt-3">Sat: <span class="fw-bold text-black">09:00AM - 06:00PM</span></p>
	  <p class="mt-3 mb-0">Sun: <span class="fw-bold text-black">Closed</span></p>
	 </div>
	</div>
	<div class="col-md-3">
	 <div class="footer_1i">
	  <h4>SUBSCRIPTION</h4>
      <p class="mt-3">Subscribe your Email address for latest news & updates.</p>
	  <form action="sub/" method="post">
		{% csrf_token %}
		<input class="form-control" name="email" placeholder="Enter Email Address" type="text">
	  <h6 class="mb-0 mt-4"><button type="submit" class="button pt-3 pb-3">Submit <i class="fa fa-check-circle ms-1"></i> </button></h6>
	  </form>
	 </div>
	</div>
  </div><hr>
  <div class="row footer_2">
   <div class="col-md-8">
    <div class="footer_2l">
	 <p class="mb-0 mt-1">© 2023 Car Showroom. All Rights Reserved.</a></p>
	</div>
   </div>
   <div class="col-md-4">
    <div class="footer_2r text-end">
	  <ul class="social-network social-circle mb-0">
					<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
					<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
				</ul>
	</div>
   </div>
  </div>
</div>
</section>

<script>
window.onscroll = function() {myFunction()};

var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;

function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>